<% photo.comments.each do |comment|%>
<strong><%= comment.user.username%></strong>
<%= comment.comment%> <p> created <%=time_ago_in_words comment.created_at %> ago </p>
<% if comment.user_id == current_user.id && user_signed_in? %>
<%= link_to 'Destroy', comment, method: :delete , data: { confirm: 'Are you sure?' }, class: "core-sprite delete-comment hide-text" %><br />
<% end%>
<% end%>