// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.delete-comment {
    width: 11px;
    height: 11px;
    background-position: -216px -112px;
    float: right;
    margin: -52px 52px;
}