.follower-info {
    background: #f9fafb; 
    padding: 10px;
    border: 1px solid #999;
}
.username {
    background:#f9fafb;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #999;
    width: 750px;
}
.description {
    background: #f9fafb;
    padding: 10px;
    border: 1px solid #999;
    width: 750px;
}